*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper {
  background: lightgrey;
}

body {
  font-family: 'Merriweather', serif;
  color: grey;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  color: #2f3944;
  font-size: 1.8em;
  font-weight: bold;
}

p {
  text-align: center;
  padding: 0 20px 20px 20px;
  font-size: 1.2em;
  color: lightgrey;
}


/* Header -------------------- */

.form-header {
    width: 85%;
    margin: 0 auto;
    background: #2f3944;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .05em;
    padding: 40px 0 40px 0;
  }


/* Horizontal Dividers -------------------- */

.rule-double-top {
  margin-top: 40px;
  border-top: 7px solid #2f3944;
  max-width: 95%;
}

.rule-double-bottom {
  border-top: 2px solid #2f3944;
  margin-bottom: 30px;
  max-width: 95%;
}

.rule-single {
  border-top: 3px solid #2f3944;
  margin-bottom: 30px;
  max-width: 95%;
}


/* Form Styling -------------------- */

form {
  max-width: 85%;
  margin: 0 auto;
  padding: 50px 20px;
  background: white;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
textarea,
select {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  height: auto;
  margin: 0;
  padding: 15px;
  width: 100%;
  background-color: #eff0f1;
  color: #8a97a0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.05) inset;
  margin-bottom: 30px;
}

input[type="number"] {
  width: 50%;
}

textarea {
  margin-bottom: 0;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 50px;
  border-radius: 2px;
}

input[placeholder="Required"] {
  text-align: right;
  font-style: italic;
}

input:hover, textarea:hover, select:hover { 
  border: 2px solid navy;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  font-weight: bold;
  color: #2f3944;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.2em;
}

label.format {
  display: inline;
}

.height {
  line-height: 2em;
  margin-bottom: 25px;
}


/* Button -------------------- */

button {
  display: block;
  width: 95%;
  margin: 0 auto;
  background: #5ebcb4;
  color: white;
  font-size: 1.6em;
  padding: 30px;
  border-radius: 10px;
  border: none;
}

button:hover {
  background: #429f9a;
}


/* Footer -------------------- */

.footer {
  text-align: center;
  font-style: italic; 
  padding-top: 30px;
  padding-bottom: 40px;
}


/* Media Query -------------------- */

@media (min-width: 760px) {
    
.contact label {
  	float: left;
  	margin-top: 15px;
  	width: 22%;
	}

.contact input,
select {
  	width: 78%;
	}

input[type="number"] {
  width: 50%;
  }
}